<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    {{title}}
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>{{title}}</h1>
  <section aria-label="Video player">
    <h1>Video</h1>
    <video id="video" class="video" controls height="640" src="/assets/VincentMalloy.mp4">

      <track label="English" kind="captions" srclang="en" src="/assets/Vincent.eng.vtt" default>
    </video>
  </section>

  <section aria-l4abel="Audio player">

  </section>

</body>

</html>