<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        {{title}}
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/main.css' />
</head>

<body>
    <a class="skip-link" href="#playButton">Skip to play</a>
    <nav>
        <a href="/">Video</a>
        <a href="/audio">Audio</a>
    </nav>
    {{{body}}}
    <script src="/js/video-controller.js"></script>
    <script src="https://kit.fontawesome.com/5cf9241734.js" crossorigin="anonymous"></script>
</body>

</html>