body {
  padding: 50px;
  background-color: #f6f3fa;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2334116c' fill-opacity='0.09'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }

/* #340458 #fed636 #14cac9*/
.video-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background-color: #340458; }

#seekbar {
  width: 100%; }

.styleContainer {
  background-color: #340458;
  padding: 30px 30px 150px 30px;
  border-radius: 10px; }
  .styleContainer h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2.5em;
    letter-spacing: 0.12em;
    color: #f6f3fa; }
  .styleContainer h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2.5em;
    letter-spacing: 0.12em;
    color: #fed636; }
  .styleContainer h3 {
    padding-left: 25px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2.5em;
    letter-spacing: 0.12em;
    color: #340458; }
  .styleContainer .transcript-container {
    background-color: #f6f3fa;
    border-radius: 10px;
    padding-left: 10px; }
    .styleContainer .transcript-container span {
      font-family: 'Nunito Sans', sans-serif;
      font-size: 1.0em; }
    .styleContainer .transcript-container li {
      font-family: 'Nunito Sans', sans-serif;
      font-size: 1.3em;
      color: #000;
      letter-spacing: 0.12em;
      line-height: 1.75em; }
  .styleContainer video {
    border-radius: 10px; }

.control-bar {
  width: 99%;
  background-color: #f6f3fa;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px; }

.control-bar button {
  margin-right: 0.5rem; }

.control-bar button:last-child {
  margin-right: 0; }

.bi {
  display: inline-block;
  font-size: 1.2rem;
  margin-right: 0.2rem; }

.btn i {
  font-size: 2rem;
  padding: 10px; }

.btn-primary {
  background-color: #14cac9;
  border-color: #14cac9; }

.btn-primary:hover {
  background-color: #fed636;
  border-color: #fed636; }

.btn-primary:focus {
  border: 3px #ff0000; }

.btn-secondary {
  background-color: #fed636;
  border-color: #fed636; }

.btn-secondary:hover {
  background-color: #14cac9;
  border-color: #14cac9; }

.transcript-container {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: auto; }

#transcript-list {
  list-style: none;
  padding: 0;
  list-style-type: none; }

.timestamp {
  font-size: 1.3em;
  background-color: #14cac9;
  color: #340458;
  padding: 5px;
  border-radius: 10px;
  margin-right: 10px; }

li {
  padding: 10px;
  border-radius: 10px; }

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 0px; }

.div2 {
  grid-area: 1 / 1 / 3 / 3; }

.div3 {
  grid-area: 1 / 3 / 3 / 4; }

.transcript-list .current {
  background-color: #fed636;
  color: #000;
  scroll-margin-top: 10px; }

a {
  padding: 15px;
  text-decoration: underline;
  background-color: #340458;
  color: #14cac9;
  font-size: 2.0em;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }
  a:hover {
    color: #fed636; }
  a:active {
    color: #fed636; }

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #340458;
  padding: 10px;
  z-index: 100; }

.skip-link:focus {
  top: 0; }
